@{
  Layout = "_Layout";
}


<form action="/counter" method="post">
    <label>Enter a word and a phrase.  I'll tell you if the phrase contains the word.</label><br>
    <input id="keyWord" name="new-counter"><br>
    <input id="compareWord" name="new-counter"><br>
    <button type='submit'>Enter a Phrase</button>
</form>