@{
  Layout = "_Layout";
}

<div>

    <p><strong>"@Model.GetWord("getWord")"</strong> appears in the phrase <strong>"@Model.GetWords("getWords")"</strong><br />
    @*<strong>@Model.WordOccurs("compareWords", "lowCaseWord")</strong>*@
    @Model.GetOccurTally() times.</p>

    <p><a href="/counter">Let's try different words!</a></p>

</div>