@{
  Layout = "_Layout";
}

<div>
    <p>
        Looks like you entered something incorrect.  Please enter only words without numbers or special characters.
    </p>

    <p><a href="/counter">Let's try again!</a></p>
</div>