@{
  Layout = "_Layout";
}

<div>

    <strong class="red">@Model.GetWord("getWord")</strong> appears in the phrase <strong class="red">@Model.GetWords("getWords")</strong><br />
    @*<strong>@Model.GetOccurTally("getW)<br /></strong> times.*@

    @*@Model.WordOccurs("getWords", "getWord")<br />*@

    <p><a href="/counter">Let's try different words!</a> </p>

</div>