@{
  Layout = "_Layout";
}

<div>
    GetOccurTally = @Model.GetOccurTally()<br />
    @*SetWord = @Model.SetWord()<br />*@
    @*GetWords = @Model.GetWords()<br />*@
    GetArray = @Model.GetArray()<br />


</div>